@import 'tailwindcss';

@theme {
	--color-*: initial;
	--color-white: #ffffff;
	--color-gray-100: #e1e1e6;
	--color-gray-300: #c4c4cc;
	--color-gray-700: #202024;
	--color-gray-900: #121214;

	--color-green-300: #00b37e;
	--color-green-500: #00875f;
	--color-green-custom: #1ea483;
	--color-purple-custom: #7465d4;
}

body {
	line-height: 160%;
	background-color: var(--color-gray-900);
}

input,
textarea,
button {
	font-weight: '400';
	font-family: 'Roboto', sans-serif;
}
